[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">=1.33.0"
streamlit-pdf-viewer = "*"
docx2txt = "*"
streamlit-navigation-bar = "*"
streamlit-pills = "*"
python-poppler = "*"
"pdfminer.six" = "*"
pdfminer = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
